@font-face {
    font-family: "SuisseBPIntl-AntiqueItalic";
    src: url("fonts/Suisse BP Int'l Antique Italic.woff");
}

@font-face {
    font-family: "SuisseBPIntl-Antique";
    src: url("fonts/Suisse BP Int'l Antique.woff");
}

@font-face {
    font-family: "SuisseBPIntl-BlackItalic";
    src: url("fonts/Suisse BP Int'l Black Italic.woff");
}

@font-face {
    font-family: "SuisseBPIntl-Black";
    src: url("fonts/Suisse BP Int'l Black.woff");
}

@font-face {
    font-family: "SuisseBPIntl-BoldItalic";
    src: url("fonts/Suisse BP Int'l Bold Italic.woff");
}

@font-face {
    font-family: "SuisseBPIntl-Bold";
    src: url("fonts/Suisse BP Int'l Bold.woff");
}

@font-face {
    font-family: "SuisseBPIntl-LightItalic";
    src: url("fonts/Suisse BP Int'l Light Italic.woff");
}

@font-face {
    font-family: "SuisseBPIntl-Light";
    src: url("fonts/Suisse BP Int'l Light.woff");
}

@font-face {
    font-family: "SuisseBPIntl-MediumItalic";
    src: url("fonts/Suisse BP Int'l Medium Italic.woff");
}

@font-face {
    font-family: "SuisseBPIntl-Medium";
    src: url("fonts/Suisse BP Int'l Medium.woff");
}

@font-face {
    font-family: "SuisseBPIntl-RegularItalic";
    src: url("fonts/Suisse BP Int'l Regular Italic.woff");
}

@font-face {
    font-family: "SuisseBPIntl-Regular";
    src: url("fonts/Suisse BP Int'l Regular.woff");
}

@font-face {
    font-family: "SuisseBPIntl-ThinItalic";
    src: url("fonts/Suisse BP Int'l Thin Italic.woff");
}

@font-face {
    font-family: "SuisseBPIntl-Thin";
    src: url("fonts/Suisse BP Int'l Thin.woff");
}

@font-face {
    font-family: "SuisseBPIntl-UltraLightItalic";
    src: url("fonts/Suisse BP Int'l UltraLight Italic.woff");
}

@font-face {
    font-family: "SuisseBPIntl-UltraLight";
    src: url("fonts/Suisse BP Int'l UltraLight.woff");
}