@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');


/******************************************
*
* Vars 
*
******************************************/

:root {
  --blue: #2461F4;
  --dark: #212121;
}


/******************************************
*
* General 
*
******************************************/

body {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  font-family: "SuisseBPIntl-Regular", sans-serif;

  cursor: url(./cursor_2x.png), auto;
  cursor: -webkit-image-set(url(./cursor_1x.png) 1x,
      url(./cursor_2x.png) 2x), auto;
}

#no-scroll-container {
  /* see: https://stackoverflow.com/questions/14270084/overflow-xhidden-doesnt-prevent-content-from-overflowing-in-mobile-browsers */
  overflow-x: hidden;
  width: 100vw;
  padding: 0;
  margin: 0;
}

/******************************************
*
* Header 
*
******************************************/


.header {
  font-size: 24px;
  padding: 1rem 1rem 4rem 1rem;
}

.header .name {
  font-family: "SuisseBPIntl-Regular", sans-serif;
  white-space: nowrap;
  margin-right: 0.5rem;
}

.header .title {
  font-family: "SuisseBPIntl-Thin", sans-serif;
  white-space: nowrap;
}

.me-nav-circle {
  --size: 2.5em;

  display: inline-block;
  min-width: var(--size);
  height: var(--size);
  line-height: var(--size);
  border-radius: var(--size);
  text-align: center;
  background-color: white;
  color: var(--blue);
  padding: 0 0.5em;
  font-family: "SuisseBPIntl-Light", sans-serif;
  font-weight: bold;
  transition: 0.25s;
  position: relative;
  z-index: 100;
}

.home .me-nav-circle:hover {
  color: white;
  background-color: var(--dark);
}

.home .abs-float .me-nav-circle {
  background-color: var(--blue);
  color: white;
  border: 1px solid white;
}

.home .abs-float .me-nav-circle:hover {
  color: white;
  border: 1px solid var(--blue);
  background-color: var(--dark);
}

.about .me-nav-circle {
  color: white;
  background-color: var(--blue);
}

.about .me-nav-circle:hover {
  color: var(--blue);
  background-color: white;
}

.about .header .title {
  opacity: 0;
}

@media (max-width: 768px) {
  .about .header .title {
    opacity: 1;
  }

  .header .name,
  .header .title {
    display: block;
  }

  .header {
    font-size: 20px;
  }
}

@media (min-width: 768px) {
  .about .header {
    padding: 1rem 1rem 1rem 1rem;
  }
}

/******************************************
*
* Home 
*
******************************************/

body.home {
  background-color: var(--blue);
  color: white;
}


#youmeus {
  font-family: 'Questrial', sans-serif;
  display: block;
  position: relative;
  width: 100%;
  height: 100vw;
  font-size: 20vw;
  font-family: Questrial;
  margin: 0;
  overflow-x: visible;
  overflow-y: visible;
}

#youmeus.vertical {
  height: 100vh;
  font-size: 30vw;
}

@media (min-width: 1000px) {
  #youmeus.vertical {
    height: 100vh;
    font-size: 25vw;
  }
}

@media (min-width: 1200px) {
  #youmeus {
    font-size: 20vw;
  }
}

#footer {
  position: relative;
  width: 100%;
  height: 100vh;
}

a {
  text-decoration: none;
}

#letstalk {
  display: inline-block;
  height: 3em;
  line-height: 3em;
  border-radius: 1.5em;
  font-size: 16pt;
  text-align: center;
  cursor: pointer;
  padding: 0 2em;
  white-space: nowrap;
  font-family: "SuisseBPIntl-Light", sans-serif;
  transition: 0.25s;
}

@media (min-width: 768px) {
  #letstalk {
    font-size: 3vw;
  }
}

@media (min-width: 1200px) {
  #letstalk {
    font-size: 28pt;
  }
}

#letstalk {
  background-color: white;
  border: 1px solid white;
  color: var(--blue);
}

#letstalk:hover {
  color: white;
  border: 1px solid var(--blue);
  background-color: var(--dark);
}

/******************************************
*
* About 
*
******************************************/

body.about {
  color: white;
  background-color: var(--dark);
}

.about a {
  color: white;
}

.about a:hover {
  color: #2461F4;
}

.about-container {
  min-height: calc(100vh - 100px);
  font-weight: 100;
  font-family: "SuisseBPIntl-Thin", sans-serif;
  font-size: 32px;
  line-height: 1.1em;
  position: relative;
  padding: 0 1rem 1rem 1rem;
}

.about .text, .about .skills {
  margin-bottom: 1em;
}

.about-container .text div {
  margin-bottom: 1em;
}

@media (min-width: 768px) {
  .about-container .text {
    width: 80vw;
  }
}

@media (min-width: 1024px) {
  .about-container {
    font-size: 36px;
  }

  .about-container .text {
    width: 70vw;
  }
}

@media (min-width: 1600px) {
  .about-container {
    font-size: 46px;
  }

  .about-container .text {
    width: 1100px;
  }
}

.text-skills {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-bottom: 1em;
}

@media (max-width: 768px) {
  .text-skills {
    flex-direction: column;
    justify-content: flex-start;
  }
  .about .text-skills .skills {
    width: 100%;
  }
}

.text-skills .skills {
  width: 25%;
  max-width: 450px;
  font-size: 0.6em;
  line-height: 1.2em;
  white-space: nowrap;
}

.about ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.about ul.links {
  display: inline;
}

.about .links li {
  display: inline-block;
}

.contact {
  align-self: flex-end;
}

@media (min-width: 768px) {
  .about .contact .links li+li {
    margin-left: 1em;
  }
}

@media (max-width: 768px) {
  .about .contact ul.links {
    display: block;
  }

  .about .contact .links li {
    display: block;
  }
}


/******************************************
*
* About / Preview 
*
******************************************/

@media (min-width: 1024px) {
  .about .preview {
    display: block !important;
  }

  .previewable {
    color: var(--blue);
  }

  .previewable:hover {
    color: white;
  }
}

.about .preview {
  display: none;

  z-index: -1;
  position: absolute;
  bottom: 0%;
  transition: 1s;

  right: -5vw;
  opacity: 0;
}

.about .preview.active {
  opacity: 1;
}

.about .preview .content {
  transition: 1s;
  transform: scale(0.9);
  height: 60vh;
  padding: 1rem;
}

.about .preview .content video {
  height: 100%;
}

.about .preview.active {
  right: 0vw;
}

.about .preview.active .content {
  transform: scale(1);
}

/******************************************
*
* Utils 
*
******************************************/

.abs-centered {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  text-align: center;
}

.abs-float {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;
}

.tr-med {
  transition: 500ms;
}

.op-0 {
  opacity: 0;
}

small.debug {
  font-size: 12px;
  position: relative;
}

.left small.debug {
  top: 10px;
}

.right small.debug {
  top: 25px;
}