@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

:root {
  --home-bg: #2461F4;
  --about-bg: #212121;
}

body {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  font-family: "SuisseBPIntl-Regular", sans-serif;

  cursor: url(./cursor_2x.png), auto;
  cursor: -webkit-image-set(
        url(./cursor_1x.png) 1x,
        url(./cursor_2x.png) 2x
      ), auto;
}

body.home {
  background-color: var(--home-bg);
  color: white;
}

.abs-float {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;
}

.tr-med {
  transition: 500ms;
}

.op-0 {
  opacity: 0;
}

.header {
  font-size: 24px;
  padding: 1rem 1rem 4rem 1rem;
}

.about .header .name, .about .header .title {
  display: none;
}

.header .name {
  font-family: "SuisseBPIntl-Regular", sans-serif;
  white-space: nowrap;
  margin-right: 0.5rem;
}

.header .title {
  font-family: "SuisseBPIntl-Thin", sans-serif;
  white-space: nowrap;
}

.me-nav-circle {
  --size: 2.5em;

  display: inline-block;
  min-width: var(--size);
  height: var(--size);
  line-height: var(--size);
  border-radius: var(--size);
  text-align: center;
  background-color: white;
  color: #2461F4;
  padding: 0 0.5em;
  font-family: "SuisseBPIntl-Light", sans-serif;
  font-weight: bold;
}

.home .me-nav-circle:hover {
  color: white;
  background-color: var(--about-bg);
}

.about .me-nav-circle {
  color: white;
  background-color: var(--home-bg);
}

.about .me-nav-circle:hover {
  color: var(--home-bg);
  background-color: white;
}

@media (max-width: 768px) {
  .about .header .name, .about .header .title {
    display: block;
  }

  .header .name, .header .title {
    display: block;
  }

  .header {
    font-size: 20px;
  }
}

#youmeus {
  font-family: 'Questrial', sans-serif;
  display: block;
  position: relative;
  width: 100%;
  height: 100vw;
  font-size: 8vw;
  font-family: Questrial;
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

#youmeus.vertical {
  height: 100vh;
  font-size: 6vh;
}

@media (min-width: 1200px) {
  #youmeus {
    font-size: 120pt;
  }
}

.abs-centered {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  text-align: center;
}

#footer {
  position: relative;
  width: 100%;
  height: 100vh;
}

a {
  text-decoration: none;
}

#letstalk {
  display: inline-block;
  height: 3em;
  line-height: 3em;
  border-radius: 1.5em;
  font-size: 16pt;
  text-align: center;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.5);
  transition: 0.5s;
  cursor: pointer;
  padding: 0 2em;
  white-space: nowrap;
  font-family: "SuisseBPIntl-Light", sans-serif;
}

@media (min-width: 768px) {
  #letstalk {
    font-size: 3vw;
  }
}

@media (min-width: 1200px) {
  #letstalk {
    font-size: 28pt;
  }
}

#letstalk:hover {
  border: 1px solid rgba(255, 255, 255, 1);
  font-weight: bold;
}

body.about {
  color: white;
  background-color: var(--about-bg);
}

@media (min-width: 768px) {
  .about .header {
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.about a {
  color: white;
}
.about a:hover {
  color: #2461F4;
}

.about-container {
  min-height: calc(100vh - 40pt);
  font-weight: 100;
  font-family: "SuisseBPIntl-Thin", sans-serif;
  font-size: 26px;
  position: relative;
  padding: 0 1rem 1rem 1rem;
}

.about-container .text div {
  margin-bottom: 1em;
}

@media (min-width: 768px) {
  .about-container {
    margin-top: 1rem;
    max-width: 80vw;
    padding: 1rem;
  }
}

@media (min-width: 1024px) {
  .about-container {
    max-width: 70vw;
    font-size: 32px;
  }
}

@media (min-width: 1600px) {
  .about-container {
    width: 1200px;
    font-size: 36px;
  }
}

.about ul.links {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.about .links li {
 display: inline-block;
}

.about .text  .links li:not(:last-child)::after {
  content: " / ";
}

.contact {
  align-self: flex-end;
}

@media (min-width: 768px) {
  .about .contact .links li + li {
    margin-left: 1em;
  }
}

@media (max-width: 768px) {
  .about .contact ul.links {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .about .contact .links li {
    display: block;
  }
}

small.debug {
  font-size: 12px;
  position: relative;
}

.left small.debug  {
  top: 10px;
}

.right small.debug {
  top: 25px;
}