@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

:root {
  --home-bg: #2461F4;
  --about-bg: #212121;
}

body {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  font-family: "SuisseBPIntl-Regular", sans-serif;
}

body.home {
  background-color: var(--home-bg);
  color: white;
}

.abs-float {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;
}

.tr-med {
  transition: 500ms;
}

.op-0 {
  opacity: 0;
}


.header {
  font-size: 24px !important;
}

.header .name {
  font-family: "SuisseBPIntl-Regular", sans-serif;
  white-space: nowrap;
}

.header .title {
  font-family: "SuisseBPIntl-Thin", sans-serif;
  white-space: nowrap;
}

.me-nav-circle {
  --size: 2.5em;

  display: inline-block;
  min-width: var(--size);
  height: var(--size);
  line-height: var(--size);
  border-radius: var(--size);
  font-size: 24px;
  text-align: center;
  background-color: white;
  color: #2461F4;
  padding: 0 0.5em;
}

.home .me-nav-circle:hover {
  color: white;
  background-color: var(--about-bg);
}

.about .me-nav-circle:hover {
  color: white;
  background-color: var(--home-bg);
}

@media (max-width: 768px) {
  .header .name, .header .title {
    display: block;
  }

  .me-nav-circle {
    --size: 2.5em;
  }
}

#youmeus {
  font-family: 'Questrial', sans-serif;
  display: block;
  position: relative;
  width: 100%;
  height: 100vw;
  font-size: 8vw;
  font-family: Questrial;
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

#youmeus.vertical {
  height: 100vh;
  font-size: 6vh;
}

@media (min-width: 1200px) {
  #youmeus {
    font-size: 120pt;
  }
}

.abs-centered {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  text-align: center;
}

#footer {
  position: relative;
  width: 100%;
  height: 100vh;
}

a {
  text-decoration: none;
}

#letstalk {
  display: inline-block;
  height: 3em;
  line-height: 3em;
  border-radius: 1.5em;
  font-size: 16pt;
  text-align: center;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.5);
  transition: 0.5s;
  cursor: pointer;
  padding: 0 2em;
  white-space: nowrap;
}

@media (min-width: 768px) {
  #letstalk {
    font-size: 3vw;
  }
}

@media (min-width: 1200px) {
  #letstalk {
    font-size: 28pt;
  }
}

#letstalk:hover {
  border: 1px solid rgba(255, 255, 255, 1);
}

body.about {
  color: white;
  background-color: var(--about-bg);
}

.about a {
  color: white;
}
.about a:hover {
  color: #2461F4;
}

.about-container {
  min-height: calc(100vh - 40pt);
  font-weight: 100;
  font-family: "SuisseBPIntl-Thin", sans-serif;
  position: relative;
}

.about .header {
  position: absolute;
  top: 0;
  width: 100%;
}

.about-container .text p + p {
  margin-top: 1em;
}

.home-float-space {
  float: right;
  --size: 3em;
  width: var(--size);
  height: var(--size);
}

@media (min-width: 768px) {
  .about-container {
    max-width: 70vw;
  }
  .home-float-space {
    display: none;
  }
}

.about ul.links {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.about .links li {
 display: inline-block;
}

.about .text  .links li:not(:last-child)::after {
  content: " / ";
}

.about .contact .links li + li {
  margin-left: 1em;
}

.contact {
  align-self: flex-end;
}