@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

body {
  background-color: #2461F4;
  margin: 0;
  font-size: 24pt;
  color: white;
  font-weight: 400;
  font-family: "SuisseBPIntl-Regular", sans-serif;
}

.abs-float {
  position: fixed;
  top: 0px;
  left: 0px;
}

.tr-med {
  transition: 500ms;
}

.op-0 {
  opacity: 0;
}

@media (min-width: 1200px) {
  .header {
    font-size: 1.5em !important;
  }
}

.header .name {
  font-family: "SuisseBPIntl-Regular", sans-serif;
  white-space: nowrap;
}

.header .title {
  font-family: "SuisseBPIntl-Thin", sans-serif;
  white-space: nowrap;
}

.me-nav-circle {
  --size: 3em;

  display: inline-block;
  width: var(--size);
  height: var(--size);
  line-height: var(--size);
  border-radius: 50%;
  font-size: 0.75em;
  text-align: center;
  background-color: white;
  color: #2461F4;
}

@media (max-width: 768px) {
  .header .name, .header .title {
    display: block;
  }

  .me-nav-circle {
    --size: 4em;
  }
}

#youmeus {
  font-family: 'Questrial', sans-serif;
  display: block;
  position: relative;
  width: 100%;
  height: 100vw;
  font-size: 8vw;
  font-family: Questrial;
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

#youmeus.vertical {
  height: 100vh;
  font-size: 6vh;
}

@media (min-width: 1200px) {
  #youmeus {
    font-size: 120pt;
  }
}

.abs-centered {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  text-align: center;
}

#footer {
  position: relative;
  width: 100%;
  height: 100vh;
}

a {
  text-decoration: none;
}

#letstalk {
  display: inline-block;
  height: 3em;
  line-height: 3em;
  border-radius: 1.5em;
  font-size: 16pt;
  text-align: center;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.5);
  transition: 0.5s;
  cursor: pointer;
  padding: 0 2em;
  white-space: nowrap;
}

@media (min-width: 768px) {
  #letstalk {
    font-size: 3vw;
  }
}

@media (min-width: 1200px) {
  #letstalk {
    font-size: 28pt;
  }
}

#letstalk:hover {
  border: 1px solid rgba(255, 255, 255, 1);
}