@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

body {
  background-color: #2461F4;
  min-height: 500vh;
  margin: 0;
  font-family: 'Questrial', sans-serif;
  color: white;
  font-weight: 400;
  overflow-x: hidden;
}

.header {
  font-size: 2em;
}

.header .name {
  font-weight: 800;
}

.header .title {
  font-weight: 200;
}

.me-nav-circle {
  --size: 3em;

  display: inline-block;
  width: var(--size);
  height: var(--size);
  line-height: var(--size);
  border-radius: 50%;
  font-size: 0.7em;
  text-align: center;
  background-color: white;
  color: #2461F4;
}


#youmeus {
  display: block;
  position: relative;
  width: 100vw;
  height: 100vw;
  font-size: 8vw;
  font-family: Questrial;
  margin-left: calc(var(--bs-gutter-x) * -.5);
  margin-right: calc(var(--bs-gutter-x) * -.5);
}

.abs-centered {
  position: absolute;
  top: 50%; 
  left: 50%;

  transform: translate(-50%, -50%);
  text-align: center;
}